<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100">
  <div  #toasterSuccessEl class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-success text-white">
      <strong class="me-auto">Başarılı</strong>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      {{message}}
    </div>
  </div>
</div>
