<div class="mb-4">
  @if (label) {
  <label [htmlFor]="id" class="text-dark-primary mb-2">{{label}}
    @if (isRequired)
    {
    <sup><span class="required">*</span></sup>
    }
  </label>
  }

  @if (formControlInput) {
  <input [type]="inputType ?? 'text'"  class="border form-control rounded min-width-300" [formControl]="formControlInput" [name]="id"
    [id]="id" [placeholder]="placeholder??''" (keyup)="keyupEmit($event)">
  }
  @else {
  <input [type]="inputType ?? 'text'" class="border form-control rounded min-width-300" [name]="id" [id]="id"
    [placeholder]="placeholder??''" (keyup)="keyupEmit($event)">
  }
  <div class="d-flex flex-column">
    <ng-content></ng-content>
  </div>
</div>
